// variables for responsive site

$iphone: 480px; // max-width
$gtIphone: 481px; // min-width

$mobile: 640px; // max-width
$gtMobile: 641px; // min-width

$tabletP: 768px; // max-width
$gtTabletP: 769px; // min-width

$tabletL: 1024px; // max-width
$gtTabletL: 1025px; // min-width

$desktop: 990px; // max-width
$gtDesktop: 991px; // min-width

$cinema: 1400px; // max-width
$gtCinema: 1401px; // min-width

$midpoint: 1330px; // max-width
$gtMidpoint: 1331px; // min-width