@import "myBreakpoints";

$azure: #007FFF;
$trGrey: lighten(#cccccc, 5%);
$headerColor: darken($azure, 10%);

$trColorOdd: $trGrey;
$trColorEven: #ffffff;
$trPadding: 0.25em;

$blankRowHeight: 1.5em;

$tableBorderBlack: 1px solid black;
$tableBorderGrey: 1px solid $trColorOdd;
$tableWidth: 45em;
$tableWidthMobile: $tableWidth / 2;

$scheduleMatchGap: 3em;

$playerInfoBG: #2F88B3;

$starterBenchPaddingTop: 1.665em;

$displayOpacity: 0.79;

$screenWidthMobile: 95.5vw;

// fonts

@font-face {
  font-family: "Fira Sans Regular";
  src: url("/fonts/FiraSans-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans Bold";
  src: url("/fonts/FiraSans-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans Black";
  src: url("/fonts/FiraSans-Black.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans Semi-Bold";
  src: url("/fonts/FiraSans-SemiBold.ttf") format("ttf");
}

@font-face {
  font-family: "Fira Sans Thin";
  src: url("/fonts/FiraSans-Thin.ttf") format("ttf");
}

$firaSansRegular: "Fira Sans Regular", sans-serif;
$firaSansBold: "Fira Sans Bold", sans-serif;
$firaSansBlack: "Fira Sans Black", sans-serif;
$firaSansSemiBold: "Fira Sans Semi-Bold", sans-serif;
$firaSansThin: "Fira Sans Thin", sans-serif;