@import "normalize";
@import "myVariables";

.benchPlayers {
  width: $tableWidth * 0.667;
}

table {
  border: $tableBorder;
  // width: 100%;
}

thead tr {
  display: block;
  position: relative;
}

tbody {
  display: block;
}

th {
  width: $tableWidth / 4;
  
  &:last-of-type {
    padding-right: 1em;
  }
}

tr {
  outline: $tableBorder;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  &:nth-of-type(odd) {
    background: #eeeeee;
  }
}

td {
  text-align: center;
  width: $tableWidth / 4;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none;
}