@import "normalize";
@import "myVariables";

.fantasySchedule {
  width: 100%;

  @media (min-width: $gtMidpoint) {
    display: flex;
    justify-content: center;
    align-content: center;
    width: $tableWidth;
  }
}

.hidden {
  display: none;
}