@import "normalize";
@import "myVariables";

.fantasySchedule {
  display: flex;
  flex-flow: column;
  opacity: $displayOpacity;
  width: 100%;

  @media (min-width: $gtMidpoint) {
    flex-flow: row;
    justify-content: center;
    align-content: center;
    width: $tableWidth;
  }
}

.hidden {
  display: none;
}