@import "normalize";
@import "myVariables";

.fantasyClub {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 8em;
  background: inherit;
  background-attachment: inherit;
}

.hidden {
  display: none;
}