@import 'normalize';
@import 'myVariables';
@import 'table2';

.fantasyStandings {
	width: 90vw;
	opacity: $displayOpacity;
	.blankRow {
		height: $blankRowHeight;
	}

	.standingsHeader {
		background-color: $trColorOdd;
		text-align: center;
		margin-bottom: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
	}

	.standingsTable {
		@extend %sharedTable2;
		width: 90vw;
		border: 0;

		thead {
			position: absolute;
			width: 90vw;
			background: $trColorOdd;
			th {
				&:first-of-type {
					//Club
					text-align: center;
					width: 22vw;
				}
				&:nth-of-type(2) {
					//GP
					text-align: center;
					width: 9vw;
				}
				&:nth-of-type(3) {
					//Pts
					text-align: center;
					width: 10vw;
				}
				&:nth-of-type(4) {
					//W
					text-align: center;
					width: 9vw;
				}
				&:nth-of-type(5) {
					//D
					text-align: center;
					width: 9vw;
				}
				&:nth-of-type(6) {
					//L
					text-align: center;
					width: 9vw;
				}
				&:nth-of-type(7) {
					//GD
					text-align: center;
					width: 10vw;
				}
				&:nth-of-type(8) {
					//GF
					text-align: center;
					width: 10vw;
				}
				&:last-of-type {
					//GA
					text-align: center;
					width: 10vw;
				}
			}
		}

		tbody {
			width: 90vw;
			tr {
				&:nth-of-type(odd) {
					background: $trColorOdd;
				}
				td {
					&:first-of-type {
						//Club
						text-align: center;
						width: 19vw;
					}
					&:nth-of-type(2) {
						//GP
						text-align: center;
						width: 11vw;
					}
					&:nth-of-type(3) {
						//Pts
						text-align: center;
						width: 11vw;
					}
					&:nth-of-type(4) {
						//W
						text-align: center;
						width: 9vw;
					}
					&:nth-of-type(5) {
						//D
						text-align: center;
						width: 10vw;
					}
					&:nth-of-type(6) {
						//L
						text-align: center;
						width: 10vw;
					}
					&:nth-of-type(7) {
						//GD
						text-align: center;
						width: 11vw;
					}
					&:nth-of-type(8) {
						//GF
						text-align: center;
						width: 11vw;
					}
					&:last-of-type {
						//GA
						text-align: center;
						width: 11vw;
					}
				}
			}
		}

		@media (max-width: $midpoint) {
			thead {
				z-index: 2;
				height: $blankRowHeight;
			}
		}

		@media (min-width: $gtMidpoint) {
			width: 50vw;
			thead {
				margin-bottom: 0;
				width: 50vw;
				th {
					text-align: center;
					&:first-of-type {
						width: 15vw;
					}
					&:nth-of-type(2) {
						width: 10vw;
					}
					&:nth-of-type(4) {
						width: 10vw;
					}
					&:nth-of-type(5) {
						width: 10vw;
					}
					&:nth-of-type(6) {
						width: 10vw;
					}
					&:nth-of-type(7) {
						width: 10vw;
					}
					&:nth-of-type(8) {
						width: 10vw;
					}
					&:last-of-type {
						width: 10vw;
					}
				}
			}

			tbody {
				margin-top: 0;
				tr {
					&:nth-of-type(odd) {
						background-color: $trColorOdd;
					}					
					td {
						&:first-of-type {
							width: 13vw;
						}
						&:nth-of-type(2) {
							width: 10vw;
						}
						&:nth-of-type(4) {
							width: 10vw;
						}
						&:nth-of-type(5) {
							width: 10vw;
						}
						&:nth-of-type(6) {
							width: 10vw;
						}
						&:nth-of-type(7) {
							width: 10vw;
						}
						&:nth-of-type(8) {
							width: 10vw;
						}
						&:last-of-type {
							width: 10vw;
						}
					}
				}
			}
		}
	}
	@media (min-width: $gtMidpoint) {
		width: 50vw;
	}
}

.hidden {
	display: none;
}
