@import 'normalize';
@import 'myVariables';

main {
	z-index: -77;
	overflow: auto;
	display: flex;
	flex-flow: column nowrap;
	width: $screenWidthMobile;
	height: 84.6vh;	
	padding-left: 1em;
	padding-right: 0.5em;
	padding-bottom: 1.15em;
	margin-top: 5em;
	margin-left: -1em;
	background: #FFFFFF url("/img/soccer-field.jpg") center / cover no-repeat;
	background-attachment: fixed;

	.welcome {
		opacity: $displayOpacity;
		display: flex;
		flex-flow: column nowrap;
		align-self: center;
		background-color: $trColorOdd;
		text-align: center;
		margin-bottom: 0;
		width: 100%;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0.25em;
		padding-right: 0.25em;

    .welcomeText {
      text-align: center;
    }

    .leagueSelection {
      align-self: center;
    }
  }

	.club {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	@media (min-width: $gtMidpoint) {
		width: 100%;
		height: 89.6vh;
		margin-top: $headerAdjustMargin;
		
		.welcome {
			width: 30em;
		}
	}

	.hidden {
		display: none;
	}
}