@import 'normalize';
@import 'myVariables';

main {
	display: flex;
	flex-flow: column nowrap;

	.welcome {
		display: flex;
    flex-flow: column nowrap;

    .welcomeText {
      text-align: center;
    }
  }

	.club {
		display: flex;
		justify-content: center;
		align-content: center;
	}

	.hidden {
		display: none;
	}
}