@import "normalize";
// @import "myVariables";

main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  
  * {
    border: 1px solid red;
  }
}

.welcome {
  grid-column: 3 / 7;
  grid-row: 1 / 2;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: center;
  
  p {
    margin: 0.1em;
    align-self: center;
  }
}

.club {
  grid-column: 1 / 7;
  grid-row: 2 / 6;
  justify-self: start;
  align-self: center;
}

.league {
  grid-column: 7 / 9;
  grid-row: 2 / 6;
  justify-self: center;
  align-self: center;
}