@import "normalize";
@import "myVariables";

.player {
  background: $playerInfoBG;
  max-width: 90%;
  
  @media (max-width: $midpoint) {
    margin-left: 1em;
    padding-bottom: 0.25em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    
    .clubLogo {
      display: none;
    }
  }
  
  @media (min-width: $gtMidpoint) {
    margin-left: 5em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 14em 2em repeat(4, 8em);
    
    .playerHeader {
      grid-column: 1 / 9;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      
      .playerName, .clubName {
        display: flex;
        justify-content: center;
      }
      
      .pointsDiv {
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
      }
    }
    
    .playerStats {
      grid-column: 1 / 9;
      grid-row: 3 / 5;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-around;
      
      .statsHeader {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }
    .playerDataClose {
      grid-column: 4 / 6;
      grid-row: 6 / 7;
      display: flex;
      justify-content: center;
      
      button {
        height: 2em;
        width: 4em;
      }
    }
  }
}

.hidden {
  display: none;
}