@import 'normalize';
@import 'myVariables';
@import 'table';

.hidden {
	display: none;
}

.somethingWrong {
	opacity: $displayOpacity;
	background-color: $trColorOdd;
	text-align: center;
	height: 2em;
	margin-top: 1em;
	margin-bottom: 0;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.playerSelection {
	@extend %sharedTable;
	opacity: $displayOpacity;
	margin-top: 40em;
	.playerName {
		cursor: pointer;
	}

	.playerSelectionHeader {
		background-color: $trColorOdd;
		text-align: center;
		margin-bottom: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0.25em;
		padding-right: 0.25em;
	}

	.playerRemove {
		cursor: pointer;
	}

	thead tr {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;
		align-items: center;

		th {
			&:first-of-type {
				display: none;
			}
			&:last-of-type {
				display: none;
			}
		}
	}

	tbody {
		width: 100%;
	}

	/*
  Label the data
  */
	td:nth-of-type(1):before {
		content: 'Name';
	}
	td:nth-of-type(2):before {
		content: 'Position';
	}
	td:nth-of-type(3):before {
		content: 'Club';
	}
	td:nth-of-type(4):before {
		content: 'Points';
	}

	@media (min-width: $gtMidpoint) {
		width: $tableWidth;
		margin-top: 1em;

		.playerSelectionTable {
			border: $tableBorderBlack;
		}

		thead tr {
			display: flex;
			flex-flow: row nowrap;
			position: static;

			th {
				width: $tableWidth / 4;
				&:first-of-type {
					display: block;
				}
				&:last-of-type {
					display: block;
				}
			}
		}

		tbody tr {
			width: $tableWidth - 1.2em; // to subtract the width of the vertical scrollbar so we don't get a horizontal scrollbar
			display: flex;
			flex-flow: row nowrap;

			td {
				border: none;
				width: $tableWidth / 4;
				position: static;
				text-align: center;
				padding-left: 0;
				&:before {
					display: none;
					content: '';
				}
				&:last-of-type {
					border: none;
				}
			}
		}
	}
}
