@import "normalize";
// @import "myVariables";

.rosterComponent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
  .playerSelection {
    
    table {
      border: 1px solid black;
    }
    
  }
  
  .rosterDisplay {
    
  }
}