@import "normalize";
@import "myVariables";
@import "table";

.hidden {
  display: none;
}

.rosterDisplay {
  @extend %sharedTable;

  opacity: $displayOpacity;

  .clickable {
    cursor: pointer;
  }

  .rosterHeader, .lineupHeader, .startersHeader, .benchHeader {
    background-color: $trColorOdd;
    text-align: center;
    margin-bottom: 0;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
  }

  .rosterTable {
    margin-top: 0;
  }
  
  /*
  Label the data
  */
  td:nth-of-type(1):before { content: "Name"; }
  td:nth-of-type(2):before { content: "Position"; }
  td:nth-of-type(3):before { content: "Club"; }
  td:nth-of-type(4):before { content: "Points"; }
  td:nth-of-type(5):before { content: "Starter?"; }
  td:nth-of-type(6):before { content: "On Bench?"; }
  td:nth-of-type(7):before { content: "Remove?"; }
  
  @media (max-width: $midpoint) {
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
  }
  
  @media (min-width: $gtMidpoint) {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;

    .completeRoster {
      margin-right: 2em;

      .rosterHeader {
        width: $tableWidth;
        margin-bottom: -2em;
      }

      .lineupHeader {
        width: $tableWidth / 2;
      }

      .startersHeader, .benchHeader {
        width: $tableWidth / 2;
        margin-bottom: -2em;
      }
    }

      .rosterTable {
        padding-top: 2em;
        width: $tableWidth;
        thead {
          position: static;

          tr {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            padding-left: 0.5em;

            th {
              width: $tableWidth / 7;
              
              &:last-of-type {
                padding-right: 1em;
              }
            }
          }
        }

        tbody {
          display: block;
          height: 24em;
          overflow: auto;

          tr {
            display: flex;
            flex-flow: row nowrap;
            padding-top: $trPadding;
            padding-bottom: $trPadding;
            padding-left: 0.5em;
            &:nth-of-type(odd) {
              background: $trColorOdd;
            }

            td {
              border: none;
              width: $tableWidth / 4;
              text-align: center;
              padding-left: 0;
              &:before {
                display: none;
                content: '';
              }
              &:last-of-type {
                border-bottom: none;
              }
            }
          }
        }
      }
    .lineup {      
      .lineupHolder {
        display: flex;
        flex-flow: row nowrap;
        
        .startingEleven {
          margin-right: 0.25em;
        }

        .benchPlayers {
          margin-left: 0.25em;
        }
      }
    }
  }

  .lineup {
    margin-top: -1.25em;
  }
}