@import "normalize";
@import "myVariables";

.rosterComponent {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

@media (max-width: $midpoint) {
  .rosterComponent {
    flex-flow: column nowrap;
  }
}

@media (min-width: $gtMidpoint) {
  .rosterComponent {
    flex-flow: row nowrap;
  }
}