@import "normalize";
@import "myVariables";

.rosterComponent {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;

  @media (min-width: $gtMidpoint) {
    flex-flow: row wrap;
    justify-content: space-around;
    // padding-left: 2em;
  }
}

.hidden {
  display: none;
}