@import "normalize";
@import "myVariables";

.scheduleDisplay {
  .header {
    background-color: $matchHeaderColor;
    text-align: center;
  }
  @media (max-width: $midpoint) {
    .header {
      width: 105.5%;
    }
  }
}

.hidden {
  display: none;
}