@import "normalize";
@import "myVariables";

.scheduleDisplay {
  .header {
    background-color: $trColor;
    text-align: center;
  }
  
  .scheduleTable {
    table-layout: fixed;
    border: $tableBorder;
    border-collapse: collapse;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    height: 30em;
    width: 100%;
    overflow: auto;
    
    .blankRow {
      height: 1.5em;
    }
    
    thead {
      position: absolute;
      z-index: 2;
      background-color: $trColor;
      height: 1.5em;
      width: 95%;
      
      th {
        text-align: center;
        &:first-of-type {
          padding-left: 3%;
          width: 15%;
        }
        &:nth-of-type(2) {
          width: 30%;
        }
        &:nth-of-type(3) {
          width: 30%;
        }
        &:last-of-type {
          width: 25%;
          padding-right: 0;
        }
      }
    }
    
    tbody {
      &:nth-of-type(odd) {
        tr {
          background: $trColor;
        }
      }
      tr {
        &:first-of-type {
          width: 100%;
          td {
            &:first-of-type {
              width: 25%;
            }
            &:nth-of-type(2) {
              width: 25%;
              content: ' ';
            }
            &:nth-of-type(3) {
              width: 25%;
              content: ' ';
            }
            &:last-of-type {
              width: 25%;
              content: ' ';
            }
          }
        }
        &:nth-of-type(2) {
          display: flex;
          justify-content: space-around;
        }
        td {
          text-align: center;
        }
      }
    }
  }
}

.hidden {
  display: none;
}