@import "normalize";
@import "myVariables";

.scheduleDisplay {
  .header {
    background-color: $matchHeaderColor;
    text-align: center;
  }
  
  .scheduleTable {
    border-collapse: collapse;
    display: block;
    height: 30em;
    overflow: auto;
    
    .blankRow {
      height: 1.5em;
    }
    
    thead {
      position: absolute;
      z-index: 2;
      background-color: $matchHeaderColor;
      height: 1.5em;
      // width: $tableWidthMobile;
      
      th {
        text-align: center;
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
    
    tbody {
      &:first-of-type {
        // padding-top: 4em;
      }
      &:nth-of-type(odd) {
        tr {
          background: $trColor;
          td {
            
          }
        }
      }
      tr {
        text-align: right;
        background: white;
      }
    }
  }
}

.hidden {
  display: none;
}