@import "normalize";
@import "myVariables";
@import "table";

.startingEleven {
  @extend %sharedTable;
  margin-bottom: 2em;
  
  .startersTable {
    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      
      th {
        &:first-of-type {
          display: none;
        }
        &:last-of-type {
          display: none;
        }
      }
    }
    
    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Name"; }
    td:nth-of-type(2):before { content: "Position"; }
    td:nth-of-type(3):before { content: "Remove?"; }

    @media (min-width: $gtMidpoint) {
      width: $tableWidth / 1.5;
      padding-top: $starterBenchPaddingTop;
      thead tr { 
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        
        th {
          &:first-of-type {
            display: block;
          }
          &:last-of-type {
            display: block;
          }
        }
      }

      tbody tr {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        padding-top: $trPadding;
        padding-bottom: $trPadding;

        td {
          border: none;
          width: $tableWidth / 3;
          padding-left: 0;
          &:before {
            display: none;
            content: '';
          }
          &:nth-of-type(2) {
            padding-left: 1em;
          }
          &:last-of-type {
            border-bottom: none;
            padding-left: 1.5em;
          }
        }
      }
    }
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .hidden {
    display: none;
  }
}